* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Console";
    font-weight: bold;
    background: #EBE7E7;
  }
  
  .header {
    text-align: center;
    padding: 32px;
    

    background: #E0DDDD;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  
  #gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
  }

  a{
    text-decoration: none;
    color:dimgray;
  }

  a:hover {
    text-decoration:underline;
    
  }

  #gallery img {
    width: 25%;
    height: 400px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
  }
  
  @media (max-width: 600px) {
    #gallery img {
      width: 50%;
    }
  }

@media (max-width: 800px) {
  #gallery img {
    width: 100%;
  }
}
#button{
            position: absolute;
            top: 0px;
            right: 0px;
            margin-right: 20px;
            
        }
        #button{
            background-color: transparent;
            border: none;
            background: none;
            cursor: pointer;
            background-repeat:no-repeat;
            width: 30px;
            height: auto;
        }
        #button:hover{
            background-color: transparent;
            color: transparent;
            border: none;
            background: none;
        }
        
        .dark-mode {
            background-color: #202020;
            color: white;
            }
